<div class="sidebar">
    <div class="sidebar-header">
      <h3 class="text-white"><i class="fas fa-cogs"></i> My App</h3>
    </div>
    <ul class="list-unstyled">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link ">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" routerLink="/admin/manage-guideline" class="sidebar-link">
          <i class="fas fa-user"></i> Guidelines 
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fas fa-envelope"></i> Brand Assets
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fas fa-cogs"></i> Training 
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fas fa-cogs"></i> Certificates  
        </a>
      </li>

      <li class="sidebar-item" (click)="logout()">
        <small>
            <a  class="sidebar-link">
                <i class="fas fa-cogs"></i> Logout
              </a>
        </small>
        
      </li>
    </ul>
  </div>
  