<div class="container-fluid">
  <!-- Centered Form Container -->
  <div class="">
    <div class="">
      <div class="card shadow-sm">
        <div class="card-header bg-default">
          <h4 class="mt-1 p-1"><strong>Invite User</strong></h4>
        </div>
        <div class="card-body">
          <!-- Registration Form -->
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <!-- Name Input -->
            <div class="form-group mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                placeholder="Enter your full name"
                required
              />
              <div
                *ngIf="
                  getControl('name').invalid &&
                  (getControl('name').dirty || getControl('name').touched)
                "
                class="text-danger small mt-1"
              >
                <div *ngIf="getControl('name').errors['required']">
                  Name is required.
                </div>
                <div *ngIf="getControl('name').errors['minlength']">
                  Name must be at least 3 characters long.
                </div>
              </div>
            </div>

            <!-- Email Input -->
            <div class="form-group mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Enter your email"
                required
              />
              <div
                *ngIf="
                  getControl('email').invalid &&
                  (getControl('email').dirty || getControl('email')?.touched)
                "
                class="text-danger small mt-1"
              >
                <div *ngIf="getControl('email').errors['required']">
                  Email is required.
                </div>
                <div *ngIf="getControl('email').errors['email']">
                  Please enter a valid email.
                </div>
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="roleId" class="form-label">Role</label>
              <select
                name="roleId"
                id="roleId"
                class="form-control"
                formControlName="roleId"
              >
                <option selected disabled>--please select role--</option>
                <option [value]="role.id" *ngFor="let role of lstRoles">
                  {{ role.name }}
                </option>
              </select>
              <div
                *ngIf="
                  getControl('roleId').invalid &&
                  (getControl('roleId').dirty || getControl('roleId')?.touched)
                "
                class="text-danger small mt-1"
              >
                <div *ngIf="getControl('roleId').errors['required']">
                  Role is required.
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="text-end">
              <button
                type="button"
                class="btn btn-primary mx-1 pull-right"
                (click)="onSubmit()"
              >
                Invite
              </button>
              <button
                type="button"
                class="btn btn-default"
                (click)="registrationForm.reset()"
              >
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="email-container mt-4" *ngIf="showInvite">
    <!-- Header Section -->
    <div class="header">
      <h1>You're Invited!</h1>
    </div>

    <!-- Content Section -->
    <div class="content">
      <p>Hello,</p>
      <p>
        We are excited to invite you to register for our platform. Click the
        button below to accept the invitation and complete your registration.
      </p>
      <a class="button" (click)="gotoRegistration()">Accept Invitation</a>
      <p>If you did not request this invitation, please ignore this email.</p>
    </div>

    <!-- Footer Section -->
    <div class="footer">
      <p>&copy; 2025 Your Company. All rights reserved.</p>
      <p>
        This email was sent to you because you were invited to join our
        platform. If you have any questions, contact us at
      </p>
    </div>
  </div>
</div>
