<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">NGenious Solutions</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav"></div>
  <div
    class="collapse navbar-collapse pull-right offset-8"
    id="navbarNav"
    *ngIf="!(_session.isLoggedIn | async)"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <span class="nav-link">/</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/auth/registration"
          >Register</a
        >
      </li>
    </ul>
  </div>
</nav> -->

<nav class="main-header navbar navbar-expand navbar-light">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" (click)="logout()">
      <a class="nav-link" role="button">
        <small>Logout <i class="fa fa-arrow-right"></i></small>
      </a>
    </li>
  </ul>
</nav>
