@import "ngx-toastr/toastr";

/* Global Styles */


/* Make sure the inputs are visible and clickable */
input[type="file"] {
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

/* label {
  margin-top: 10px;
  display: block;
} */
